.app {
  min-height: 100vh;
}

.logo-container.logo-container {
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #DAF7A6;
  color: #27AE60;
}

.logo {
  height: 40px;
  margin-right: 12px;
}

.main-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding-top: 32px;
}

.bottom-nav.bottom-nav {
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: #DAF7A6;

  .MuiBottomNavigationAction-root {
    color: #27AE60;
  }

  .Mui-selected {
    background-color: #27AE60;
    color: #DAF7A6;
  }
}
